# --- Настройки Базы Данных ---
# Пароль суперпользователя базы данных (root)
MYSQL_ROOT_PASSWORD=ChangeMeRootPassword123!

# Пароль пользователя базы данных nextcloud
MYSQL_PASSWORD=ChangeMeUserPassword123!

# --- Настройки Домена и SSL ---
# Ваш домен (например, cloud.mysite.ru)
# Важно: Домен должен быть направлен на IP вашего сервера
LETSENCRYPT_HOST=your-domain.ru

# Email для регистрации сертификатов Let's Encrypt (туда будут приходить алерты об истечении)
LETSENCRYPT_EMAIL=admin@your-domain.ru

# --- Настройки Nextcloud Talk (TURN) ---
# Секретный ключ для защиты звонков.
# Сгенерировать можно командой: openssl rand -hex 16
TURN_SECRET=a1b2c3d4e5f6...